// 首页-所有货源-弹出层
.filtrateBox{
  .u-slide-right-enter-active{
    width: 80% !important;
    overflow: hidden;
  }
}

// 搜索页面-搜索框-下拉
.searchBox{
  .selectBox{
    .uni-select{
      border: none !important;
    }
  }
}
